html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border: none;
  margin: 1rem auto;
}

.image {
  width: 60%;
  aspect-ratio: 1.8;
}

@media (min-width: 320px) and (max-width: 480px) {
  .image {
    width: 100%;
  }
}
